# Server
PORT=3000
BASE_URL=http://localhost:3000
SITE_TITLE=PayBlog
APP_SECRET=change-me-to-a-long-random-string
UNLOCK_DAYS=30
COOKIE_SECURE=false

# Payments
# Options: lnbits | alby_nwc
PAYMENTS_PROVIDER=lnbits

# LNbits (hosted instance)
# Example: https://legend.lnbits.com
LNBITS_URL=
LNBITS_INVOICE_KEY=
LNBITS_READ_KEY=

# Alby Nostr Wallet Connect (NWC)
# Example: nostr+walletconnect://<wallet-pubkey>?relay=wss://relay.getalby.com/v1&secret=<hex>
ALBY_NWC_URL=nostr+walletconnect://bcb0f2259aec500e8104bc5b6194c48151036e6e486ae1150861ceb2b9047568?relay=wss://relay.getalby.com/v1&secret=12ec51d45100a97eb6788a89e696e767724817d13f510738386c67646d7fb8ce
