<article class="post">
  <h1>{{content.title}}</h1>
  {{#content.published_date_display}}<div class="meta">{{content.published_date_display}}</div>{{/content.published_date_display}}
  <section class="content">{{{content_html}}}</section>
</article>
