<article class="post">
  <h1>{{content.title}}</h1>
  <div class="meta">{{#content.published_date}}{{content.published_date}} · {{/content.published_date}}{{content.price_label}}</div>

  <section class="content">
    {{{content_html}}}
  </section>

  {{{paywall_html}}}
</article>
