<article class="post">
  <h1>{{content.title}}</h1>
  <div class="meta">{{#content.published_date_display}}{{content.published_date_display}} · {{/content.published_date_display}}{{content.price_label}}</div>

  <section class="content">
    {{{content_html}}}
  </section>

  {{{paywall_html}}}
</article>
